body {
  background-color: #0052A5;
}

.b {
  position: absolute;
  font-family: "BioRhyme", serif;
  color: #fff;
}

h1 {
  top: 40%;
  right: 20%;
}

h2 {
  top: 45%;
  font-weight: 100;
  margin-left: 200px;
}

.picture {
  height: 350px;
  width: 350px;
  background-color: #52a500;
  border-radius: 50%;
}

div {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

#chemistry {
  background-color: #fdfd96;
}

#mathematics {
  background-color: #fff;
}

#physics {
  background-color: #fff;
}
