body {
  background-color: #0052A5;
}

.b {
  position: absolute;
  font-family: "BioRhyme", serif;
  color: #fff;
}

h1 {
  top: 40%;
  right: 15%;
}

h2 {
  top: 45%;
  font-weight: 100;
  right: 20%;
}

figure {
  height: 350px;
  width: 350px;
  background-color: #52a500;
  border-radius: 50%;
}

div {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.icons-container{
  display: flex;
  height: 500px;
  justify-content: space-around;
}

.round-frame-for-icons {
  background-color: #fdfd96;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 400px 2px 0 0 #fdfd96,
              800px 4px 0 0 #fdfd96;

/* offset-x | offset-y | blur-radius | spread-radius | color */
}

.responsive-img {
  max-width: 100%;
  height: auto;
}
