body {
  background-color: #0052A5;
}

.b {
  position: absolute;
  font-family: "BioRhyme", serif;
  color: #fff;
}

h1 {
  top: 40%;
  right: 20%;
}

h2 {
  top: 45%;
  font-weight: 100;
  margin-left: 200px;
}
